.recipe-form {
  width: 55%;
  margin: auto;
  padding-top: 15px;
}

.recipe-body {
  min-height: 350px;
}

.file-upload {
  margin-bottom: 16px;
}

.form-buttons-container {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  flex-direction: row;
}

.form-buttons {
  margin: 0 50px;
  width: 50%;
}

