// Colors
$carbon: #A9A9A9;
$darkcarbon: #7D7D7D;
$blackcarbon: #5C5C5C;
$sky: #CAEBF2;
$neutral: #EFEFEF;
$watermelon: #FF3B3F;


//Fonts
$muli: 'Muli', sans-serif;
$quattrocento:'Quattrocento Sans', sans-serif;

// Sizes